# Ignore Python virtual environment
venvs/
etl_env/

# Ignore
etl/data/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Ignore mypy cache
.mypy_cache/

# Ignore environment configuration
.env

# Ignore logs and temporary files
*.log
*.tmp
etl/data/v1/logs/
etl/data/v2/logs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor/IDE config files
.vscode/

# Ignore Foam folder
foam/
.foam/templates/*
!.foam/templates/new-note.md
!.foam/templates/project-template.md

# Ignore personal or environment-specific documentation
docs/

# Ignore temporary files created by text editors
*~
*.swp
*.swo

# Ignore compressed and archive files
*.tar.gz
*.zip
*.rar
*.7z

# Ignore compiled files
*.o
*.so
*.a
*.out
